[Desktop Entry]
Type=Application
Name=OSD/OS
GenericName=Media Player
Comment=Smart TV for CRT: a retro VHS-style media player
Exec=240mp
Icon=240-mp
Terminal=false
Categories=AudioVideo;Player;Video;
Keywords=media;video;plex;jellyfin;mpv;retro;
